In [6]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [4]:
obj=pd.Series([4,5,6,7])
obj

0    4
1    5
2    6
3    7
dtype: int64

In [24]:
obj2=pd.Series([7,8,9,10],index=['a','b','c','d'])
obj2

a     7
b     8
c     9
d    10
dtype: int64

In [25]:
obj2['c']

9

In [6]:
import numpy as np

In [14]:
b=np.arange(8)

In [15]:
b[b>2]

array([3, 4, 5, 6, 7])

In [20]:
d=np.arange(30,55)
d

array([30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,
       47, 48, 49, 50, 51, 52, 53, 54])

In [21]:
for i in range(25):
    print(d[i])

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [28]:
obj3=pd.Series([4,-5,-7,8],index=['b','d','f','h'])
obj3

b    4
d   -5
f   -7
h    8
dtype: int64

In [29]:
'b' in obj3

True

In [30]:
dic = {'Texas':85000,'Ohio':45000,'Oregon':25000,'Utah':35000}

In [33]:
obj4=pd.Series(dic)
obj4

Texas     85000
Ohio      45000
Oregon    25000
Utah      35000
dtype: int64

In [34]:
s = {'Texas','Ohio','Oregon','California'}

In [36]:
obj5=pd.Series(obj4,index=s)
obj5

Texas         85000.0
Oregon        25000.0
California        NaN
Ohio          45000.0
dtype: float64

In [37]:
pd.isnull(obj5)

Texas         False
Oregon        False
California     True
Ohio          False
dtype: bool

In [38]:
pd.notnull(obj5)

Texas          True
Oregon         True
California    False
Ohio           True
dtype: bool

In [39]:
 obj4+obj5

California         NaN
Ohio           90000.0
Oregon         50000.0
Texas         170000.0
Utah               NaN
dtype: float64

In [90]:
dates=pd.date_range("1-6-2018","1-10-2018")

In [91]:
b=[85,86,87,88,89]
member={"Sohaib":b,"Zaid":b}
members=pd.DataFrame(member)
members

   Sohaib  Zaid
0      85    85
1      86    86
2      87    87
3      88    88
4      89    89

In [92]:
sets=pd.DataFrame(member,index=dates)

In [93]:
sets

            Sohaib  Zaid
2018-01-06      85    85
2018-01-07      86    86
2018-01-08      87    87
2018-01-09      88    88
2018-01-10      89    89

In [125]:
data=pd.read_csv("data for panda exercise.csv")

In [95]:
data

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

data.ix[1].index

In [28]:
len(data)

48

In [97]:
data.groupby(["Best of Assignments"]).count()

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Total Sessional (50),Final (50),Total (100),Grade
Best of Assignments,,,,,,,,,,,,,
0,1,1,1,1,0,0,1,0,0,1,0,1,1
2,1,1,1,1,1,1,1,0,1,1,1,1,1
5,1,1,1,1,1,1,1,1,0,1,1,1,1
6,1,1,1,1,1,1,1,1,0,1,1,1,1
7,3,3,3,3,3,3,3,3,2,3,3,3,3
8,5,5,5,5,5,4,5,5,3,5,5,5,5
9,10,10,10,10,10,10,10,10,5,10,10,10,10
10,21,21,21,21,19,20,21,20,20,21,21,21,21
11,5,5,5,5,5,5,5,5,5,5,5,5,5

In [98]:
sum(data.Grade=="A")

8

In [99]:
data>8

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,True,True,True,True,False,False,False,False,True,True,True,True,True,True
1,True,True,True,True,False,False,False,False,True,True,True,True,True,True
2,True,True,True,True,False,False,False,False,True,True,True,True,True,True
3,True,True,True,True,False,False,False,False,False,False,True,True,True,True
4,True,True,True,True,False,False,False,False,True,True,True,True,True,True
5,True,True,True,True,True,False,True,False,True,True,True,True,True,True
6,True,True,True,True,False,False,False,False,True,True,True,True,True,True
7,True,True,True,True,True,False,True,False,True,True,True,True,True,True
8,True,True,True,True,True,False,True,False,True,True,True,True,True,True
9,True,True,True,True,False,False,False,False,False,False,True,True,True,True
10,True,True,True,True,False,False,False,False,False,False,True,True,True,True
11,True,True,True,True,False,False,False,False,False,False,True,True,True,True
12,True,True,True,True,False,False,False,False,True,True,True,True,True,True
13,True,True,True,True,False,False,False,False,True,True,True,True,True,True
14,True,True,True,True,False,False,False,False,False,False,True,True,True,True
15,True,True,True,True,False,False,False,False,False,False,True,False,True,True
16,True,True,True,True,False,False,False,False,True,True,True,True,True,True
17,True,True,True,True,False,False,False,True,True,True,True,True,True,True
18,True,True,True,True,False,False,False,False,True,True,True,True,True,True
19,True,True,True,True,True,False,True,False,True,True,True,True,True,True
20,True,True,True,True,False,False,False,False,True,True,True,True,True,True
21,True,True,True,True,True,False,True,True,True,True,True,True,True,True
22,True,True,True,True,False,False,False,False,False,False,True,True,True,True
23,True,True,True,True,False,False,False,False,True,True,True,True,True,True
24,True,True,True,True,False,False,False,True,True,True,True,True,True,True
25,True,True,True,True,True,False,True,False,True,True,True,True,True,True
26,True,True,True,True,False,False,False,False,False,False,True,True,True,True
27,True,True,True,True,False,False,False,False,True,True,True,True,True,True
28,True,True,True,True,False,False,False,True,True,True,True,True,True,True
29,True,True,True,True,False,False,False,False,False,False,True,True,True,True
30,True,True,True,True,False,False,False,True,False,True,True,True,True,True
31,True,True,True,True,False,False,False,True,False,True,True,True,True,True
32,True,True,True,True,False,False,False,False,True,True,True,False,True,True
33,True,True,True,True,False,False,False,False,True,True,True,True,True,True
34,True,True,True,True,True,False,True,False,True,True,True,True,True,True
35,True,True,True,True,False,False,False,False,True,True,True,True,True,True
36,True,True,True,True,True,False,True,True,False,True,True,True,True,True
37,True,True,True,True,True,False,True,True,False,True,True,True,True,True
38,True,True,True,True,False,False,False,False,False,False,True,True,True,True
39,True,True,True,True,False,False,False,True,True,True,True,True,True,True
40,True,True,True,True,True,False,True,False,True,True,True,True,True,True
41,True,True,True,True,False,False,False,False,True,True,True,True,True,True
42,True,True,True,True,False,False,False,False,True,True,True,True,True,True
43,True,True,True,True,True,False,True,False,False,False,True,True,True,True
44,True,True,True,True,False,False,False,True,False,True,True,True,True,True
45,True,True,True,True,True,False,True,True,False,True,True,True,True,True
46,True,True,True,True,False,False,False,False,True,True,True,True,True,True
47,True,True,True,True,True,False,True,False,False,False,True,True,True,True

In [106]:
data.iloc[5]

Student Code            022-14-110232
Degree                         BS(CS)
Student Name              Ameer Hamza
Mid                                25
Quiz 1                              9
Quiz 2                              6
Best of Quizzes                     9
Assignment 1                        8
Assignment 2                       10
Best of Assignments                10
Total Sessional (50)               44
Final (50)                         27
Total (100)                        71
Grade                               B
Name: 5, dtype: object

In [111]:
data(data.Student_Name=="Madiha Jabeen")

NameError: name 'data_Student_Name' is not defined

In [113]:
print(data.shape)

(48, 14)

In [117]:
del data["Assignment 1"]

In [118]:
data

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,7.0,7,27,19.0,46,F

In [126]:
data.iloc[0:3,1]=0

In [127]:
data

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,0,Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,0,Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,0,Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [121]:
len(data)

48

In [150]:
data["Student Name"]

0                        Abdul Basit
1                        Adeel Ahmed
2                       Afrah Zareen
3                     Ahmed Ali Raza
4                    Ahsan Ali Vohra
5                        Ameer Hamza
6                      Anas Ali Khan
7                   Aneebullah Niazi
8                     Areesha Sohail
9                            Arsalan
10               Fatima Haider Warsi
11                       Habib Ullah
12               Hafiza Tooba Akbani
13                Hamza Abdul Jabbar
14                     Hareem Afshan
15                      Haseeb Sajid
16                      Hassam Ahmed
17                      Khalid Anwer
18                     Madiha Jabeen
19                   Mohammad Hunain
20                    Muhammad Aamir
21    Muhammad Abdul Rehman Siddiqui
22                 Muhammad Abdullah
23                Muhammad Ali Iqbal
24                    Muhammad Bilal
25                    Muhammad Faraz
26           Muhammad Ghazali Faridi
27               Muhammad Osama Khan
28            Muhammad Saqib Intizar
29         Muhammad Shahroz Khurshid
30                   Muhammad Shozab
31             Muhammad Taha Hasnain
32             Muhammad Wajahat Khan
33              Muhammad Younus Baig
34                  Nazeer Bin Zafar
35                        Rabi Ahmed
36                        Rida Nasim
37                     Sadaf Nosheen
38                  Sadaquat Rafique
39                       Sania Iqbal
40                       Sharif Taqi
41                     Shariqa Ahmad
42                     Sumbul Rehman
43                 Syed Faizan Uddin
44                       Syed Sohaib
45                 Syeda Sabika Raza
46                        Usman Khan
47                       Waqar Ahmed
Name: Student Name, dtype: object

In [162]:
data[data['Student_Name'].str.startswith('A')]

KeyError: 'Student_Name'

In [182]:
data[(data["Student Name"].str.startswith('A'))&(data.Grade=="A")]

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A

In [183]:
data.columns

Index(['Student Code', 'Degree', 'Student Name', 'Mid', 'Quiz 1', 'Quiz 2',
       'Best of Quizzes', 'Assignment 1', 'Assignment 2',
       'Best of Assignments', 'Total Sessional (50)', 'Final (50)',
       'Total (100)', 'Grade'],
      dtype='object')

In [210]:
data[["Quiz 1"]][(data.Grade=="A")]

    Quiz 1
7      9.0
9      8.0
10     8.0
19     9.0
25     9.0
34     9.0
40     9.0
45     9.0

In [220]:
data[["Quiz 1","Grade"]][data.Grade<="B"]

    Quiz 1 Grade
0      8.0     B
4      7.0     B
5      9.0     B
6      5.0     B
7      9.0     A
9      8.0     A
10     8.0     A
11     8.0     B
12     7.0     B
16     5.0     B
17     8.0     B
19     9.0     A
20     7.0     B
24     5.0     B
25     9.0     A
27     8.0     B
30     8.0     B
31     7.0     B
34     9.0     A
36     9.0     B
37     9.0     B
40     9.0     A
43     9.0     B
45     9.0     A